@import url(./generic.css);
@import url(./bodyWebsite.css);
@import url(./bodyPost.css);

.header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: grid;
}
