@import url(./generic.css);
@import url(./bodyWebsite.css);
@import url(./bodyPost.css);

.header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: grid;
}

.footer {
    grid-area: ft;
    background-color: #505050;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ababab;
}
